.no-survey-container {
  background-color: #242424;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 34px;
  opacity: 0.9;
}
.no-survey-container-text {
  padding: 70px 0;
  text-align: center;
}
.no-survey-container-button {
  transform: translate(35%, 80%);
}
