.admin-page-container {
  background-color: #242424;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  opacity: 0.8;
}
.admin-page-container-header {
  padding-top: 10px;
}
.admin-page-container-body {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 20px;
}

.admin-page-container-body-survey {
  width: 200px;
  height: 200px;
}
.admin-page-container-body-survey :hover {
  background-color: black;
  border-radius: 30px;
}

.admin-page-container-body-view-users {
  width: 200px;
  height: 200px;
}
.admin-page-container-body-view-users :hover {
  background-color: black;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}
.admin-page-container .icon {
  margin-top: 30px;
  font-size: 60px !important;
}
.admin-page-container-body-survey-top {
  padding-top: 20px;
}
.admin-page-container-body-view-users-top {
  padding-top: 20px;
}
