.Table-container {
  width: 550px;
  padding: 20px;
  border-radius: 20px;
  transform: translate(120%, 5%);

  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.8;
}
.Table-container th {
  border-bottom: solid white;
}
.Table-container tr:hover {
  background-color: rgb(105, 100, 100);
}
.Table-container thead tr:hover {
  background-color: black;
}
